<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primwer documento en HTML </title>
</head>
<body>
    <h4>Soy un h4</h4>

    <h1>El titulo en el documento</h1>

    <h2>Un subtitulo cualquiera</h2>

    <img src="/img/img2.jpg" alt="">

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, delectus impedit est sapiente deserunt nulla, laborum totam dicta rem commodi adipisci voluptas, possimus laboriosam nemo consequatur accusamus praesentium placeat. Accusantium.</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit in incidunt pariatur quo, voluptatem totam sed quam! Quis alias eos eaque repellat omnis, amet dolorum, doloribus voluptatibus quisquam numquam non?</p>

    <ol>
        <li>Item 1</li>
        <li>Item 3</li>
        <li>Item 2</li>
    </ol>

    <ul>
        <li>Item 1</li>
        <li>Item 3</li>
        <li>Item 2</li>
    </ul>

    <a href="https://www.google.com">Ir a Google</a>
</body>
</html>